<!DOCTYPE html>
<link data-react-helmet="true" rel="icon" href="/images/smallLogo.png">
<html style="font-size: 16px;">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Merchant Dashboard</title>
    <link rel="stylesheet" href="/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/javascript/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/javascript/main.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/style.css">
    <script class="u-script" type="text/javascript" src="/javascript/websocket.js" defer=""></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html"
}</script>
    <meta property="og:title" content="Merchant Dashboard">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
    <%- include('../partials/preload.ejs') %>
</head>
<%
    var allCoins = {
        ETH: "Ethereum",
        ETC: "Ethereum Classic",
        DOGE: "Dogecoin",
        BTC: "Bitcoin",
        XRP: "Ripple",
        LTC: "Litecoin",
    }
%>
<body data-home-page-title="Merchant Dashboard" class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-a555">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="/" class="u-image u-logo u-image-1">
                <img src="/images/logo.png" class="u-logo-image u-logo-image-1" data-image-width="109">
            </a>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="#">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                        </svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                    <rect y="1" width="16" height="2"></rect>
                                    <rect y="7" width="16" height="2"></rect>
                                    <rect y="13" width="16" height="2"></rect>
                                </symbol>
                            </defs>
                        </svg>
                    </a>
                </div>
                <div class="u-nav-container">

                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                href="/" style="padding: 10px 20px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                onclick="signout()" href="#" style="padding: 10px 20px;">Signout</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                href="/dashboard-m" style="padding: 10px 20px;">Merchant Dashboard</a>
                        </li>
                        <li class="u-nav-item">
                            Dark Theme
                        </li>
                        <label class="switch">
                            <input type="checkbox" onclick="changeTheme()" id="bigTheme">
                            <span class="slider round"></span>
                        </label>

                    </ul>
                </div>
                <div class="u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" onclick="signout()"
                                        href="#">Sign Out</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-m">Merchant
                                        Dashboard</a>
                                </li>
                                <li class="u-nav-item" style="padding-bottom: 10px;">
                                    Dark Theme
                                </li>
                                <label class="switch">
                                    <input type="checkbox" onclick="changeTheme()" id="smallTheme">
                                    <span class="slider round"></span>
                                </label>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>

                </div>

            </nav>
        </div>
    </header>
    <svg id="toggle-sidenav" onclick='document.querySelector(".sidenav").classList.toggle("sidebarOpen")'
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-align-center status_toggle middle sidebar-toggle">
        <line x1="18" y1="10" x2="6" y2="10"></line>
        <line x1="21" y1="6" x2="3" y2="6"></line>
        <line x1="21" y1="14" x2="3" y2="14"></line>
        <line x1="18" y1="18" x2="6" y2="18"></line>
    </svg>
    <div class="sidenav">
        <div class="sidenavSection ripple" href="/merchants/wallets">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 76.304 76.304" style="enable-background:new 0 0 76.304 76.304;" xml:space="preserve">
                    <g>
                        <path fill="white" d="M72.325,33.234v-2.947c0-5.389-3.698-9.919-8.686-11.217l-0.009-4.859c0-4.742-3.859-8.601-8.603-8.601h-0.455L14.31,18.1   c-0.917,0.053-1.787,0.265-2.604,0.584h-0.105C5.205,18.684,0,23.889,0,30.287v28.804c0,6.397,5.204,11.603,11.601,11.603h49.123   c6.396,0,11.601-5.205,11.601-11.603V55.26c2.323-0.899,3.979-3.151,3.979-5.789v-10.45C76.303,36.385,74.648,34.133,72.325,33.234   z M70.303,49.47c0,0.118-0.093,0.211-0.211,0.211H53.851c-0.118,0-0.21-0.093-0.21-0.211V39.021c0-0.115,0.094-0.209,0.21-0.209   h16.241c0.116,0,0.211,0.094,0.211,0.209V49.47z M55.398,11.637c1.261,0.18,2.232,1.266,2.232,2.579l0.008,4.469H32.679   L55.398,11.637z M60.724,64.693H11.602c-3.093,0-5.601-2.509-5.601-5.603V30.287c0-3.095,2.508-5.603,5.601-5.603h49.122   c3.094,0,5.601,2.508,5.601,5.603v2.525H53.851c-3.424,0-6.21,2.785-6.21,6.209V49.47c0,3.425,2.786,6.211,6.21,6.211h12.474v3.41   C66.325,62.184,63.818,64.693,60.724,64.693z"/>
                    </g>
                    </svg>

                <span class="sidenavText">Wallets</span>
        </div>
        <div class="sidenavSection ripple" href="/merchants/transactions">
                <svg width="30" height="30" viewBox="0 0 62 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M54.2742 6.00522C51.2951 6.86416 49.4084 10.2503 50.1562 13.3672C50.251 13.7518 50.2988 14.1109 50.251 14.1497C50.0136 14.3675 43.2252 19.3952 43.0826 19.4595C42.9759 19.5111 42.6554 19.357 42.3466 19.1386C41.5989 18.5871 40.602 18.228 39.605 18.151C37.9434 18.0103 36.4362 18.6381 35.1664 20.0109L34.4069 20.8189L31.4873 19.7416L28.5678 18.6642L28.4252 17.5996C28.1282 15.3423 27.2738 13.8804 25.624 12.803C24.8763 12.3287 23.6419 11.9568 22.7639 11.9568C20.3311 11.9568 18.0761 13.7652 17.352 16.3045C17.0674 17.2666 17.0432 18.831 17.2807 19.6779L17.435 20.2548L13.7677 23.0252L10.0998 25.7816L9.51826 25.3582C6.21862 22.9596 1.8036 24.794 0.794855 28.9748C-0.261005 33.3359 3.6202 37.5301 7.65516 36.3884C10.6814 35.5422 12.6046 32.1687 11.8445 29.0391L11.6901 28.3591L12.0578 28.0643C12.9121 27.3842 18.8468 22.9468 18.977 22.8952C19.0601 22.8571 19.3688 23.0232 19.6652 23.2416C21.8606 24.8704 24.8874 24.4986 26.8218 22.3693L27.5813 21.5485L30.5009 22.6386L33.4323 23.716L33.5631 24.7934C33.8006 26.6144 34.3226 27.7561 35.4144 28.8207C38.5119 31.8344 43.4496 30.3343 44.6716 26.0248C44.9091 25.1652 44.9209 24.5883 44.7429 22.4209C44.7076 22.0618 44.8973 21.9077 48.3272 19.3302L51.9356 16.624L52.5053 17.0348C55.7808 19.4206 60.1958 17.5734 61.2046 13.4054C62.2617 9.01888 58.3333 4.82535 54.2742 6.00522ZM56.5645 9.03161C57.585 9.36527 58.5348 10.7756 58.5348 11.9555C58.5348 13.5461 57.1578 15.0335 55.6866 15.0335C54.9388 15.0335 54.3337 14.7387 53.7286 14.0713C52.5177 12.7762 52.5177 11.1341 53.7286 9.83896C54.5588 8.9291 55.4491 8.68522 56.5645 9.03161ZM24.1403 15.4448C24.805 15.8422 25.3748 16.6636 25.5409 17.5098C25.8137 18.7794 25.1733 20.2032 24.0814 20.8316C23.7014 21.0494 23.3691 21.1137 22.7404 21.1264C22.0162 21.1264 21.8265 21.0749 21.3162 20.7419C19.2988 19.3824 19.5951 16.1122 21.8265 15.2144C22.4552 14.9571 23.5117 15.0596 24.1403 15.4448ZM40.7086 21.6651C41.0409 21.8829 41.4086 22.2809 41.6225 22.6527C41.943 23.2168 41.9784 23.3964 41.9784 24.2687C41.9784 25.1411 41.943 25.3206 41.6225 25.8848C41.124 26.7444 40.3763 27.2315 39.4029 27.3085C38.75 27.3601 38.5721 27.3213 38.0023 27.0003C35.6525 25.6925 35.9371 22.2038 38.4772 21.306C39.0588 21.1003 40.127 21.2671 40.7086 21.6651ZM7.19263 27.5008C7.84549 27.7058 8.83068 28.7705 9.0204 29.476C9.35272 30.6813 9.11526 31.6434 8.27268 32.5412C7.0736 33.8491 5.5546 33.8491 4.35552 32.5412C3.14466 31.2461 3.14466 29.604 4.35552 28.3088C5.18632 27.3976 6.07663 27.1544 7.19263 27.5008Z"
                        fill="white" />
                    <path
                        d="M51.1171 24.4475C50.6304 24.6786 50.1319 25.3325 50.0488 25.8458C50.0135 26.0769 50.0011 33.8235 50.0135 43.0835C50.0488 59.8463 50.0488 59.9106 50.2981 60.257C50.4289 60.4493 50.6899 60.7313 50.8678 60.8727C51.1884 61.1293 51.3303 61.142 55.6865 61.142C60.042 61.142 60.1846 61.1293 60.5051 60.8727C60.683 60.7313 60.9441 60.4493 61.0749 60.257C61.3241 59.9106 61.3241 59.8724 61.3241 42.7371C61.3241 25.6019 61.3241 25.5637 61.0749 25.2173C60.9441 25.025 60.683 24.743 60.5051 24.6016C60.1963 24.345 60.0184 24.3322 55.8291 24.3068C52.3868 24.2807 51.4016 24.3061 51.1171 24.4475Z"
                        fill="white" />
                    <path
                        d="M18.3009 30.5661C18.1348 30.6431 17.8737 30.8227 17.7311 30.9768C17.0783 31.6307 17.1136 30.8615 17.1136 45.8541V59.7573L17.3864 60.1807C17.529 60.4119 17.8018 60.7321 17.9798 60.8735C18.3003 61.1301 18.4665 61.1428 22.6322 61.181C26.7627 61.2192 26.976 61.2065 27.4273 60.9633C27.6766 60.8219 28.0207 60.4889 28.1633 60.2196L28.4478 59.7325V45.8166V31.9007L28.1633 31.4136C28.0207 31.1443 27.6883 30.8233 27.4273 30.6826C27.0001 30.4388 26.7273 30.426 22.7866 30.4388C20.2948 30.4374 18.4789 30.489 18.3009 30.5661Z"
                        fill="white" />
                    <path
                        d="M34.5137 36.8631C34.2527 37.03 33.9322 37.363 33.802 37.6068C33.5527 38.0557 33.5527 38.1837 33.5527 48.893C33.5527 59.6023 33.5527 59.7302 33.802 60.1791C33.9322 60.423 34.2527 60.756 34.5137 60.9228C34.9763 61.2049 35.0004 61.2049 39.3324 61.1794C43.5335 61.1412 43.6996 61.1285 44.0202 60.8719C44.1981 60.7305 44.4709 60.4103 44.6253 60.1791L44.8863 59.7557V48.8923V38.0289L44.6253 37.6055C44.4709 37.3743 44.1981 37.0541 44.0202 36.9127C43.6996 36.6561 43.5335 36.6434 39.3324 36.6052C34.9998 36.5811 34.9763 36.5811 34.5137 36.8631Z"
                        fill="white" />
                    <path
                        d="M1.74421 42.916C1.25751 43.1472 0.759033 43.8011 0.675953 44.3143C0.640613 44.5455 0.616433 48.136 0.640613 52.3175C0.675953 59.7565 0.675953 59.9099 0.925193 60.2563C1.05601 60.4486 1.31703 60.7307 1.49497 60.872C1.81551 61.1286 1.95811 61.1414 6.31361 61.1414C10.6691 61.1414 10.8117 61.1286 11.1323 60.872C11.3102 60.7307 11.5712 60.4486 11.702 60.2563C11.9513 59.9099 11.9513 59.7819 11.9513 51.9711C11.9513 44.1602 11.9513 44.0322 11.702 43.6859C11.5712 43.4936 11.3102 43.2115 11.1323 43.0701C10.8235 42.8135 10.6456 42.8008 6.45621 42.7753C3.01397 42.7492 2.02879 42.7747 1.74421 42.916Z"
                        fill="white" />
                </svg>
                <span class="sidenavText">Transactions</span>
        </div>
        <div class="sidenavSection ripple" href="/merchants/settings">
                <svg width="30" height="30" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M32 40.625C36.4183 40.625 40 36.9873 40 32.5C40 28.0127 36.4183 24.375 32 24.375C27.5817 24.375 24 28.0127 24 32.5C24 36.9873 27.5817 40.625 32 40.625Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M51.7337 40.625C51.3787 41.4419 51.2728 42.348 51.4296 43.2266C51.5865 44.1052 51.9989 44.9159 52.6137 45.5542L52.7737 45.7167C53.2695 46.2197 53.6629 46.8171 53.9313 47.4747C54.1997 48.1323 54.3379 48.8371 54.3379 49.549C54.3379 50.2608 54.1997 50.9656 53.9313 51.6232C53.6629 52.2808 53.2695 52.8782 52.7737 53.3812C52.2783 53.8849 51.6901 54.2844 51.0427 54.557C50.3952 54.8296 49.7012 54.9699 49.0003 54.9699C48.2994 54.9699 47.6054 54.8296 46.958 54.557C46.3105 54.2844 45.7223 53.8849 45.227 53.3812L45.067 53.2187C44.4385 52.5944 43.6403 52.1755 42.7752 52.0162C41.9102 51.8569 41.018 51.9645 40.2137 52.325C39.4249 52.6683 38.7523 53.2384 38.2785 53.965C37.8047 54.6916 37.5504 55.5431 37.547 56.4146V56.875C37.547 58.3116 36.9851 59.6893 35.9849 60.7052C34.9847 61.721 33.6281 62.2917 32.2137 62.2917C30.7992 62.2917 29.4426 61.721 28.4424 60.7052C27.4422 59.6893 26.8803 58.3116 26.8803 56.875V56.6312C26.8597 55.7348 26.574 54.8654 26.0604 54.1361C25.5467 53.4067 24.829 52.8512 24.0003 52.5417C23.196 52.1811 22.3038 52.0736 21.4388 52.2329C20.5737 52.3922 19.7755 52.811 19.147 53.4354L18.987 53.5979C18.4917 54.1015 17.9035 54.5011 17.256 54.7737C16.6086 55.0462 15.9145 55.1866 15.2137 55.1866C14.5128 55.1866 13.8188 55.0462 13.1713 54.7737C12.5239 54.5011 11.9356 54.1015 11.4403 53.5979C10.9445 53.0949 10.5511 52.4975 10.2827 51.8399C10.0143 51.1823 9.87613 50.4775 9.87613 49.7656C9.87613 49.0538 10.0143 48.3489 10.2827 47.6914C10.5511 47.0338 10.9445 46.4364 11.4403 45.9333L11.6003 45.7708C12.2151 45.1325 12.6275 44.3218 12.7843 43.4433C12.9412 42.5647 12.8353 41.6585 12.4803 40.8417C12.1423 40.0406 11.581 39.3575 10.8656 38.8762C10.1501 38.395 9.31176 38.1368 8.45366 38.1333H8.00033C6.58584 38.1333 5.22928 37.5626 4.22909 36.5468C3.2289 35.531 2.66699 34.1533 2.66699 32.7167C2.66699 31.2801 3.2289 29.9023 4.22909 28.8865C5.22928 27.8707 6.58584 27.3 8.00033 27.3H8.24033C9.12298 27.279 9.97901 26.9889 10.6971 26.4672C11.4152 25.9456 11.9622 25.2166 12.267 24.375C12.622 23.5581 12.7279 22.652 12.571 21.7734C12.4142 20.8948 12.0018 20.0841 11.387 19.4458L11.227 19.2833C10.7311 18.7803 10.3377 18.1829 10.0693 17.5253C9.80094 16.8677 9.6628 16.1629 9.6628 15.451C9.6628 14.7392 9.80094 14.0344 10.0693 13.3768C10.3377 12.7192 10.7311 12.1218 11.227 11.6187C11.7223 11.1151 12.3105 10.7156 12.958 10.443C13.6054 10.1704 14.2994 10.0301 15.0003 10.0301C15.7012 10.0301 16.3952 10.1704 17.0427 10.443C17.6901 10.7156 18.2783 11.1151 18.7737 11.6187L18.9337 11.7812C19.5621 12.4056 20.3604 12.8245 21.2254 12.9838C22.0905 13.1431 22.9827 13.0355 23.787 12.675H24.0003C24.789 12.3317 25.4617 11.7616 25.9355 11.035C26.4093 10.3084 26.6636 9.45692 26.667 8.58542V8.125C26.667 6.68841 27.2289 5.31066 28.2291 4.29484C29.2293 3.27902 30.5858 2.70833 32.0003 2.70833C33.4148 2.70833 34.7714 3.27902 35.7716 4.29484C36.7718 5.31066 37.3337 6.68841 37.3337 8.125V8.36875C37.3371 9.24025 37.5913 10.0917 38.0651 10.8183C38.5389 11.545 39.2116 12.115 40.0003 12.4583C40.8046 12.8189 41.6968 12.9264 42.5619 12.7671C43.4269 12.6078 44.2252 12.189 44.8537 11.5646L45.0137 11.4021C45.509 10.8985 46.0972 10.4989 46.7446 10.2263C47.3921 9.95375 48.0861 9.81345 48.787 9.81345C49.4879 9.81345 50.1819 9.95375 50.8293 10.2263C51.4768 10.4989 52.065 10.8985 52.5603 11.4021C53.0562 11.9051 53.4496 12.5025 53.718 13.1601C53.9864 13.8177 54.1245 14.5225 54.1245 15.2344C54.1245 15.9462 53.9864 16.6511 53.718 17.3086C53.4496 17.9662 53.0562 18.5636 52.5603 19.0667L52.4003 19.2292C51.7856 19.8675 51.3732 20.6782 51.2163 21.5567C51.0595 22.4353 51.1654 23.3415 51.5203 24.1583V24.375C51.8584 25.176 52.4196 25.8592 53.1351 26.3404C53.8505 26.8216 54.6889 27.0799 55.547 27.0833H56.0003C57.4148 27.0833 58.7714 27.654 59.7716 28.6698C60.7718 29.6857 61.3337 31.0634 61.3337 32.5C61.3337 33.9366 60.7718 35.3143 59.7716 36.3302C58.7714 37.346 57.4148 37.9167 56.0003 37.9167H55.7603C54.9022 37.9201 54.0639 38.1784 53.3484 38.6596C52.633 39.1408 52.0717 39.824 51.7337 40.625V40.625Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="sidenavText">Settings</span>
        </div>
        <div class="sidenavSection ripple onpage" href="/merchants/keys">
                <svg width="30" height="30" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path
                            d="M45.0199 53.9996C44.5732 53.9996 44.1431 53.8288 43.8218 53.5223L43.3895 53.1098L39.4835 53.2207C38.0087 53.2539 36.8028 52.1263 36.7619 50.6706L36.7035 48.6149L34.7173 48.6713C34.6924 48.672 34.6666 48.6723 34.6407 48.6723C33.1975 48.6723 32.0358 47.5514 31.9959 46.1206L31.938 44.0659L29.9517 44.1222C29.9252 44.1229 29.901 44.1232 29.8766 44.1232C28.4326 44.1232 27.2702 43.0022 27.2301 41.5712L27.1137 37.4665C26.7539 37.1075 26.1232 36.5215 25.4453 35.9087C24.7752 36.2869 24.0106 36.4928 23.2284 36.4928C22.0643 36.4928 20.96 36.0506 20.1194 35.2478C20.085 35.215 20.052 35.1808 20.0205 35.1453C19.9375 35.0513 19.8474 34.947 19.7561 34.8368C19.0794 34.9136 18.3976 34.9524 17.7176 34.9524C12.9811 34.9524 8.52885 33.1338 5.18054 29.8312C-1.72685 23.019 -1.72685 11.9348 5.18054 5.12245C8.5292 1.81966 12.9818 0.000915527 17.7184 0.000915527C22.455 0.000915527 26.9075 1.81966 30.2559 5.12228C34.3338 9.1439 36.1494 14.7934 35.1969 20.3741C35.6478 21.0628 35.9014 21.8644 35.9248 22.7046C35.9449 23.4251 35.7964 24.1244 35.4966 24.7566L54.3663 43.3962C54.6747 43.701 54.8531 44.1096 54.8653 44.5389L54.9984 49.2205C55.0673 51.6985 53.1076 53.7712 50.6295 53.8421L45.0691 53.9991C45.0528 53.9994 45.0363 53.9996 45.0199 53.9996ZM44.0664 49.7141C44.5132 49.7141 44.9433 49.8851 45.2646 50.1916L45.6969 50.6041L50.5303 50.4676C51.116 50.4509 51.5792 49.9331 51.5619 49.3135L51.4477 45.3013L32.2966 26.384C32.0381 26.1284 31.8696 25.7985 31.8154 25.4423L31.7496 25.0079C31.6734 24.5038 31.833 23.9927 32.1843 23.6175C32.3887 23.3991 32.4967 23.1077 32.4881 22.7973C32.4797 22.4955 32.3588 22.2157 32.1481 22.0093C31.7343 21.6045 31.5583 21.0211 31.6807 20.4602C32.7098 15.7468 31.2664 10.9034 27.8192 7.50355C25.1209 4.84211 21.5336 3.37645 17.7182 3.37645C13.9029 3.37645 10.3159 4.84211 7.61725 7.50355C2.04126 13.0026 2.04126 21.9505 7.61725 27.4494C10.3156 30.1111 13.9025 31.5765 17.7177 31.5765C18.6307 31.5765 19.5471 31.49 20.442 31.3197C21.1859 31.1772 21.9362 31.5308 22.2898 32.1885C22.3888 32.3728 22.3532 32.8793 23.184 33.0199C23.462 33.067 23.7745 33.0029 23.9733 32.7953L24.1959 32.5473C24.4991 32.2098 24.9266 32.0051 25.3841 31.9787C25.8441 31.9527 26.2908 32.1062 26.6322 32.4063C26.6666 32.4366 27.4862 33.1575 28.3215 33.9236C30.1516 35.602 30.5122 36.0005 30.5346 36.7975L30.6458 40.7253L33.559 40.6426C34.0191 40.6284 34.4579 40.7955 34.7893 41.103C35.1211 41.4107 35.3145 41.8353 35.3271 42.2831L35.4115 45.2745L38.324 45.1918C38.7842 45.1773 39.2229 45.3445 39.5541 45.6522C39.8859 45.9597 40.0793 46.3842 40.092 46.8318L40.1771 49.824L44.0164 49.715C44.0332 49.7143 44.0499 49.7141 44.0664 49.7141Z"
                            fill="white" />
                        <path
                            d="M14.5941 20.3255C12.9845 20.3255 11.4718 19.7079 10.3345 18.5862C7.99128 16.2748 7.99146 12.5146 10.3345 10.2041C11.4718 9.08239 12.9849 8.46432 14.5946 8.46432C16.2043 8.46432 17.7173 9.08222 18.8547 10.2042C21.1975 12.5148 21.1972 16.2748 18.8541 18.5855C17.717 19.7074 16.2041 20.3255 14.5941 20.3255ZM14.5946 11.84C13.9061 11.84 13.2585 12.1048 12.771 12.5857C11.7594 13.5833 11.7594 15.2068 12.7712 16.2048C13.2584 16.6853 13.9059 16.9499 14.5941 16.9499C15.2825 16.9499 15.9299 16.6851 16.4174 16.2043C17.4292 15.2063 17.4294 13.5832 16.4181 12.5857C15.9308 12.1048 15.283 11.84 14.5946 11.84Z"
                            fill="white" />
                        <path
                            d="M46.7007 47.7483C46.2596 47.7483 45.8184 47.5828 45.4825 47.2513L30.2351 32.2133C29.5654 31.5527 29.5678 30.4841 30.2406 29.8264C30.9131 29.169 32.0017 29.1709 32.6716 29.8318L47.919 44.8698C48.5888 45.5304 48.5863 46.599 47.9135 47.2567C47.5781 47.5844 47.1394 47.7483 46.7007 47.7483Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="55" height="54" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                <span class="sidenavText">API keys</span>
        </div>
        <div class="sidenavSection ripple" href="https://docs.coin-tunnel.ml" target="_blank">
                <svg width="25" height="25" viewBox="0 0 69 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M64.0371 44.984V5.62399C62.3931 4.40799 55.9815 0.18399 48.6931 0.18399C41.4595 0.18399 36.6919 4.34399 35.4863 5.55999V44.664C37.7879 42.808 42.3363 39.928 48.6931 39.928C55.4883 39.928 61.3519 43.192 64.0371 44.984Z"
                        fill="white" />
                    <path
                        d="M33.5127 44.664V5.55999C32.3071 4.40799 27.4847 0.18399 20.3059 0.18399C13.0175 0.18399 6.60591 4.40799 4.96191 5.62399V44.984C7.64711 43.192 13.5655 39.928 20.3059 39.928C26.6627 39.928 31.2111 42.808 33.5127 44.664Z"
                        fill="white" />
                    <path
                        d="M66.0098 10.36V46.968C66.0098 47.288 65.9002 47.544 65.7358 47.8C65.407 48.248 64.859 48.248 64.4754 47.992C64.4206 47.928 57.1322 42.232 48.693 42.232C40.3086 42.232 35.2122 47.8 35.1574 47.864C35.1026 47.928 35.1026 47.928 35.0478 47.992C34.993 48.056 34.9382 48.056 34.8834 48.056C34.8286 48.056 34.7738 48.12 34.7738 48.12H34.719C34.6642 48.12 34.6094 48.12 34.5546 48.12C34.4998 48.12 34.445 48.12 34.3902 48.12H34.3354C34.2806 48.12 34.2258 48.12 34.2258 48.056C34.171 48.056 34.1162 47.992 34.0614 47.992C34.0066 47.992 34.0066 47.928 33.9518 47.864C33.897 47.8 28.7458 42.232 20.4162 42.232C11.977 42.232 4.68857 47.928 4.63377 47.992C4.25017 48.312 3.70217 48.248 3.37337 47.8C3.20897 47.608 3.09937 47.288 3.09937 46.968V10.36H0.359375V51.384H29.6226C30.4994 51.384 31.2118 51.896 31.6502 52.6C32.0886 53.304 32.7462 53.752 33.5134 53.752H35.7602C36.4726 53.752 37.185 53.304 37.6234 52.6C38.0618 51.832 38.829 51.384 39.651 51.384H68.9142V10.36H66.0098Z"
                        fill="white" />
                </svg>
                <span class="sidenavText">Docs</span>
        </div>
        <div class="sidenavSection ripple" href="https://github.com/coin-tunnel/coin-tunnel" target="_blank">
                <svg width="30" height="30" viewBox="0 0 74 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M72.5795 37.5192L57.9571 51.732C57.0543 52.6104 55.5891 52.6104 54.6863 51.732C53.7835 50.8536 53.7835 49.4352 54.6863 48.5568L67.6807 35.928L54.6863 23.3064C53.7835 22.428 53.7835 21.0096 54.6863 20.1312C55.5891 19.2528 57.0543 19.2528 57.9571 20.1312L72.5795 34.344C73.4897 35.2224 73.4897 36.6408 72.5795 37.5192ZM24.6349 65.268C23.9689 66.3984 22.4963 66.7872 21.3419 66.132C20.1875 65.484 19.7953 64.0368 20.4613 62.9064L49.3657 6.732C50.0317 5.6016 51.5043 5.2128 52.6587 5.868C53.8131 6.5232 54.2053 7.9632 53.5393 9.0936L24.6349 65.268ZM19.3143 51.732C18.4115 52.6104 16.9463 52.6104 16.0435 51.732L1.41374 37.5192C0.518338 36.6408 0.518338 35.2224 1.41374 34.344L16.0435 20.1312C16.9463 19.2528 18.4115 19.2528 19.3143 20.1312C20.2171 21.0096 20.2171 22.428 19.3143 23.3064L6.31994 35.928L19.3143 48.5568C20.2171 49.4352 20.2171 50.8536 19.3143 51.732Z"
                        fill="white" />
                </svg>

                <span class="sidenavText">Code</span>
        </div>
        <div class="sidenavSection ripple" onclick="signout();">
                <svg width="30" height="30" viewBox="0 0 92 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M92 0H0V90H92V0Z" fill="white" fill-opacity="0.01" />
                    <path d="M45.9841 11.25H11.5V78.75H46" stroke="white" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M63.25 61.875L80.5 45L63.25 28.125" stroke="white" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M30.667 44.9844H80.5003" stroke="white" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>

                <span class="sidenavText">Logout</span>
        </div>
    </div>
    <div class="mainContent">
        <div class="wrapper">
            <div style="display: inline-block">
                <h2>API keys</h2>
                <h5>(Keep these secret)</h5>
                <div>
                    <span>Your API key prefix: <span style="font-size: 1.3em;"><%-key.prefix%></span></span>
                    <br>
                    <span>API key uses: <span style="font-size: 1.3em;"><%-key.uses%></span></span>
                    <br>
                    <span>API key uses from these IP's: <span style="font-size: 1.3em;"><% for (var x=0; x<key.ip.length; x++){ %>
                        <p class="u-text u-text-8"><%-key.ip[x]%></p>
                        <% } %></span></span>
                    <% let parsedDB = JSON.parse(db) %>
                    <span>Connected email: <span style="font-size: 1.3em;"><a href="mailto:<%-parsedDB.email%>"><%-parsedDB.email%><br>
                      </a></span></span>
                      <br>
                      <span>Merchant ID: <span style="font-size: 1.3em;"><%-parsedDB.tunnelId%></span></span>
                </div>
            </div>
            <div style="display: inline-block; margin-left: 20px; margin-top: 10px;" class="rightThing">
                <span style="font-size: 2.2em; color: #a03036; font-weight: bold;">Danger Zone:</span>
                <br>
                <span style="font-size: 1.5em; text-align: center; display: block;">Regenerate API key</span>
                <br>
                <a class="u-btn u-button-style u-grey-90 u-btn-1" style="text-align: center; margin-left: 10px;" onclick="regenerate()">Regenerate</a>
            </div>
        </div>
    </div>
    <div class="alert-modal">
    </div>
    <%- include('../partials/footer.ejs') %>

</body>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</html>


<script src="/javascript/dashboard-m-js.js"></script>
<script src="/javascript/qrcode.min.js"></script>

<script>
    window.addEventListener("click", function(event){
        if (!document.querySelector(".sidenav").contains(event.target) && !document.getElementById("toggle-sidenav").contains(event.target)){
            document.querySelector(".sidenav").classList.remove("sidebarOpen");
        }
    })

    var walletCBvar = 0;
    var balances = {};

    " <%allCoins = JSON.stringify(allCoins);%> "
    var allCoins = '<%- allCoins %>';
    allCoins = JSON.parse(allCoins)

    " <%var keys = JSON.stringify(key);%> "
    var keys = '<%- keys %>';
    keys = JSON.parse(keys);

    var db = '<%- db %>';
    db = JSON.parse(db);

</script>

<style>
    .header {
        font-size: 2em;
    }
    .wrapper {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: -10%;
        margin-top: 10%;
        box-shadow: 3px 3px 20px 4px rgb(0 0 0 / 20%);
        padding: 20px;
    }
    .u-container-layout {
        display: inline-block !important;
    }
    @media (max-width: 700px){
        .wrapper {
            width: 80% !important;
            left: 0 !important;
        }
    }
    @media (min-width: 1290px){
        .rightThing {
            position: absolute;
        }
    }
</style>
