<html style="min-height: 508.859px;">
<link data-react-helmet="true" rel="icon" href="/images/smallLogo.png">

<head>
    <script src="https://semantic-ui.com/javascript/library/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Deposit | Coin Tunnel</title>
    <link rel="stylesheet" href="/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/javascript/main.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Archivo+Black:400">

    <%- include('../partials/preload.ejs') %>
        <link rel="stylesheet" href="/common.css">
        <link rel="stylesheet" href="/style.css">
        <script class="u-script" type="text/javascript" src="/javascript/websocket.js" defer=""></script>

        <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html",
		"logo": "images/unknown-removebg-preview.png"
}</script>
        <meta property="og:title" content="Buyer Dashboad">
        <meta property="og:type" content="website">
        <meta name="theme-color" content="#478ac9">
        <link rel="canonical" href="index.html">
        <meta property="og:url" content="index.html">

    <link rel="stylesheet" type="text/css" class="ui" href="/assets-main.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/javascript/semantic/semantic.min.css">
    <script src="/javascript/semantic/semantic.min.js"></script>
    <script src="/javascript/deposit.js"></script>
</head>

<body>
    <%
        var allCoins = {
            ETH: "Ethereum",
            ETC: "Ethereum Classic",
            DOGE: "Dogecoin",
            BTC: "Bitcoin",
            XRP: "Ripple",
            LTC: "Litecoin",
        }
        var allData = JSON.parse(everything)
    %>
    <div class="top-parts" style="background-color: #1D2946;">
        <header class="u-clearfix u-header u-header" id="sec-a555" style="color: whitesmoke; font-weight: 525;">
            <div class="u-clearfix u-sheet u-sheet-1">
                <a href="/" class="u-image u-logo u-image-1">
                    <img src="/images/logo.png" class="u-logo-image u-logo-image-1" data-image-width="109">
                </a>
                <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                    <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                        <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="#">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                            </svg>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                        <rect y="1" width="16" height="2"></rect>
                                        <rect y="7" width="16" height="2"></rect>
                                        <rect y="13" width="16" height="2"></rect>
                                    </symbol>
                                </defs>
                            </svg>
                        </a>
                    </div>
                    <div class="u-custom-menu u-nav-container">
                        <ul class="u-nav u-unstyled u-nav-1">
                            <li class="u-nav-item"><a
                                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                    href="/" style="padding: 10px 20px;">Home</a>
                            </li>
                            <li class="u-nav-item"><a
                                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                    href="#" onclick="signout()" style="padding: 10px 20px;">Sign out</a>
                            </li>
                            <li class="u-nav-item"><a
                                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                    href="/dashboard-b" style="padding: 10px 20px;">Buyer Dashboard</a>
                            </li>
                            <li class="u-nav-item">
                                Dark theme
                            </li>
                            <label class="switch">
                                <input type="checkbox" onclick="changeTheme()" id="bigTheme">
                                <span class="slider round"></span>
                            </label>
                        </ul>
                    </div>
                    <div class="u-custom-menu u-nav-container-collapse">
                        <div
                            class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                            <div class="u-sidenav-overflow">
                                <div class="u-menu-close"></div>
                                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/"
                                            style="padding: 10px 20px;">Home</a>
                                    </li>
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#"
                                            onclick="signout()" style="padding: 10px 20px;">Sign out</a>
                                    </li>
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-b"
                                            style="padding: 10px 20px;">Buyer Dashboard</a>
                                    </li>
                                    <li class="u-nav-item">
                                        Dark theme
                                    </li>
                                    <label class="switch">
                                        <input type="checkbox" onclick="changeTheme()" id="smallTheme">
                                        <span class="slider round"></span>
                                    </label>
                                </ul>
                            </div>
                        </div>
                        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                    </div>
                </nav>
            </div>
        </header>

        <header class="u-clearfix u-header u-header secondary-header"
            style="max-height: 50px; color: #b7b7b7; overflow: hidden;">
            <div class="u-clearfix u-sheet u-sheet-1" style="width: 100vw;">
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1 sub-menu">
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                href="/assets" style="padding: 10px 20px; color: inherit !important;">Asset Overview</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base on-page"
                                data-link="/assets/deposit" style="padding: 10px 20px; color: inherit !important;">Deposit</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                data-link="/assets/withdraw"
                                style="padding: 10px 20px; color: inherit !important;">Withdraw</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="content-container" style="width: 50vw; background-color: white; height: 60vh; display: block; margin-left: auto; margin-right: auto ;border-radius: 10px;  box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 20%)">
       <div style="display: block; text-align: center;">
        <span style="text-align: center; display: inline; font-size: 30px;">Deposit</span>
        <span style="text-align: center; display: inline; font-size: 25px;">/</span>
        <a style="text-align: center; display: inline; font-size: 30px; color: #2c83ca;" href="/assets/withdraw/<%-coin%>">Withdraw</a>
       </div>

        <div class="not-invisible deposit-field" style="background-color: #F3F5F9;">
            <div style="border-bottom: 1px solid grey; padding-bottom: 10px; padding-top: 10px;">
                <span class="coin-name"><%-coin%> | <span style="color: grey; font-size: 0.7em;"><%-allCoins[coin]%></span> <span style="float: right; font-size: 0.8em; color: grey;">Deposit Info</span></span>
            </div>
            <div style="padding-top: 8px; padding-left: 3px; margin-bottom: 20px;">
                <span style="margin-left: 10px; color: grey;"><%-allCoins[coin]%> deposit address:</span>
                <span style="float: right;"><i class="fas fa-qrcode" style="margin-right: 10px;"><div id="qrcode" style="position: absolute; transform: translate(-35px, -95px); width: 75px; height: 75px; background-color: white;"></div></i><i class="fas fa-copy" onclick="copy(document.getElementById('crypto-deposit-address'))" style="cursor: pointer;"></i></span>
                <br>
                <% if (coin !== "none" && allData[coin.toLowerCase()]) { %>
                    <span style="position: relative; top: 5px;" id="crypto-deposit-address"><%-allData[coin.toLowerCase()].address%></span>
                <% } %>
            </div>
            <div style="padding-top: 8px; padding-left: 3px; margin-top: 10px; border-top: 1px solid grey;">
                <span style="margin-left: 10px; color: grey;"><%-allCoins[coin]%> secret key:</span>
                <span class="secret-copy" style="float: right; cursor: not-allowed;"><i class="fas fa-copy" style="pointer-events: none;;" onclick="copy(document.getElementById('crypto-secret-key'))" style="cursor: pointer;"></i></span>
                <br>
                <% if (coin !== "none" && allData[coin.toLowerCase()]) { %>
                    <span style="position: relative; top: 5px;" class="highlight-hidden" id="crypto-secret-key" onclick="getSecret();">----------------------Reveal---------------------</span>
                <% } %>
            </div>
        </div>
        <div class="dropdown" style="width: 500px; top: -150px;">
            <div class="ui fluid search selection dropdown">
                <input type="hidden" name="coin-selector">
                <i class="dropdown icon"></i>
                <input class="search" autocomplete="off" tabindex="0">
                <div class="default text" style="display: block;"><i class="fas fa-search"></i> <span style="float: right;">Select</span></div>
                <div class="menu" tabindex="-1">
                    <% Object.entries(allCoins).forEach(([key, value]) => { %>
                        <div class="item" id="<%-key%>-dropdown-item" onclick="window.location.href='/assets/deposit/<%-key%>'"><object data="/images/assetImages/<%-key%>.svg" type="image/png" style="width: 30px; height: 30px; float: left; display: inline-block; top: -6px; position: relative; margin-right: 10px;">
                            <img src="/images/assetImages/<%-key%>.png" style="width: 40px; height: 40px; float: left; margin-right: 4px;">
                          </object><span style="font-weight: 600;"><%-key%></span> <span style="font-family: 'monospace-font'; color: #878787; float: right;"><%-value%></span></div>
                    <% }) %>
                </div>
    
            </div>
        </div>
        <% if (coin !== "none") { %>
            <div class="extra-info" style="width: 500px; margin-left: auto; margin-right: auto; display: block; padding-left: 60px;">
                <i class="far fa-circle"></i> <span style="color: grey; font-size: 1em;">This deposit address ONLY excepts <%-coin-%> and none other! Any attempts at depositing other crypto's will result in failure! </span>
                <br>
                <i class="far fa-circle"></i> <span style="color: grey; font-size: 1em;">All deposits will be confirmed according the the crypto's protocol. All deposits are fully automated.</span>
                <br>
                <i class="far fa-circle"></i> <span style="color: grey; font-size: 1em;">All transactions on the <%-coin%> are IRREVERSIBLE!</span>
                <br>
                <i class="far fa-circle"></i> <span style="color: #2c83ca; text-decoration: underline; cursor: pointer; font-size: 1.25em;" onclick="goToHomePage();"><%-allCoins[coin]%> homepage</span>
                <br>
                <i class="far fa-circle"></i> <span style="color: #EB3941; text-decoration: underline; cursor: pointer; font-size: 1.25em;" id="exportbtn" onclick="exportwallet()">Export all wallets</span>
                <br>
                <i class="far fa-circle"></i> <span style="color: #EB3941; text-decoration: underline; cursor: pointer; font-size: 1.25em;" onclick="change();">Change wallet</span>
                <br>
            </div>
        <% } %>
    </div>
    <div class="alert-modal">
    </div>
    <%- include('../partials/footer.ejs')%>
</body>

</html>
<script src="/javascript/qrcode.min.js"></script>
<script>
    "<%if (allData[coin.toLowerCase()]){%>"
    new QRCode(document.getElementById("qrcode"), "<%-allData[coin.toLowerCase()].address%>");
    "<%}%>"
    async function copy(elem) {
        let text = elem.innerText;
        await navigator.clipboard.writeText(text);
        showAlertModal("<i class='fas fa-check'></i> copied!"); //change this!!!
    }
    $('.dropdown').dropdown();
    "<%allCoins = JSON.stringify(allCoins);%> "
    var allCoins = '<%- allCoins %>';
    allCoins = JSON.parse(allCoins);
    let coin = '<%-coin%>';
    if (coin !== "none"){
        let html = document.getElementById(coin+"-dropdown-item").innerHTML;
        console.log(html)
        document.querySelectorAll(".selection.dropdown .text")[0].innerHTML = html
    }
    var currentCoin = "none";
    document.querySelector("[name='coin-selector']").addEventListener("change", function(){
        Object.entries(allCoins).forEach(([key, value]) => {
            key = key.toLowerCase();
            if (document.querySelector("[name='coin-selector']").value.toLowerCase().includes(key)){
                currentCoin = key.toUpperCase();
                return;
            }
        })
    })
    document.addEventListener("keydown", function(event){
        if (event.key === "Enter" && currentCoin !== "none"){
            window.location.href = "/assets/deposit/"+currentCoin;
        }
    })
    var observer = new IntersectionObserver(function(entries) {
	if(entries[0].isIntersecting === true)
        document.querySelectorAll(".secondary-header")[0].style = "max-height: 50px; color: #b7b7b7; overflow: hidden;";
    else document.querySelectorAll(".secondary-header")[0].style = "max-height: 50px; color: #b7b7b7; overflow: hidden; background: #1D2946; position: fixed; z-index: 1; top: 0; padding-top: 10px;"
    }, { threshold: [0] });

    observer.observe(document.querySelector(".u-logo-image"));

    async function showAlertModal(text, params){
        let modal = document.querySelector(".alert-modal");
        if ((params) && params.backgroundColor) modal.style.backgroundColor = params.backgroundColor;
        var waitTime = 1000;
        if (params && params.waitTime) waitTime = params.waitTime; 
        modal.innerHTML = text;
        modal.style.transform = "translateY(400px)";
        await sleep(waitTime);
        modal.style.transition = "all cubic-bezier(1, 0.03, 1, 1) 1s";
        modal.style.opacity = "0.1";
        modal.style.transform = "translateY(100vh)";
        await sleep(1000)
        var el = modal;
        elClone = el.cloneNode(true);
        elClone.style = "";
        el.parentNode.replaceChild(elClone, el);
    }
    document.querySelector(".fa-qrcode").addEventListener("mouseenter", function(){
        document.getElementById("qrcode").style.pointerEvents = "all"
    });
    document.querySelector(".fa-qrcode").addEventListener("mouseleave", async function(){
        await sleep(100)
        document.getElementById("qrcode").style.pointerEvents = "none"
    })
    document.addEventListener("keyup", function(event){
        if (event.key === "/"){
            document.querySelectorAll(".search")[1].select()
        }
    })
    document.addEventListener("keydown", function(event){
        if (event.key.includes("Arrow")){
            document.querySelectorAll(".search")[1].select()
        }
    })
    function getSecret(){
        document.getElementsByClassName("secret-copy")[0].style.cursor = "pointer";
        document.getElementsByClassName("fa-copy")[1].style.pointerEvents = "all";
        let element = document.getElementById("crypto-secret-key");
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/operations/reveal-' + coin.toLowerCase());
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onload = function () {
            document.getElementById("crypto-secret-key").innerHTML = xhr.response;
            document.getElementById("crypto-secret-key").style.cursor = "auto";
            document.getElementById("crypto-secret-key").style.pointerEvents = "none";
        }; 
        xhr.send();
    }
    function exportwallet() {
        console.log("EXPORTING WALLETS!")
        document.getElementById("exportbtn").onclick = emptyFunction;
        document.getElementById("exportbtn").innerHTML = 'Getting your files ready...<img  src="/images/loading.gif" width="30px" id="loadinggif">';
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/operations/exportwallets");

        xhr.onload = function () {
            document.getElementById("exportbtn").onclick = deleteServer;
            document.getElementById("exportbtn").innerText = "Click to download";
            document.variables = {};
            document.variables.response = xhr.response;
        }
        xhr.send();
    }
    function deleteServer() {
        window.open(document.variables.response, '_blank');
        setTimeout(continuefunc, 5000);
        function continuefunc() {
            var xhr1 = new XMLHttpRequest();
            console.log(window.location.hostname.toString().length + 5 + window.location.protocol.length + window.location.port.length);
            let id = document.variables.response.toString().slice(window.location.hostname.toString().length + 5 + window.location.protocol.length + window.location.port.length + 3, document.variables.response.length - 10);
            console.log(id)
            xhr1.open("POST", "/operations/deleteCDN/" + id);
            xhr1.send();
        }
    }
    function emptyFunction(){
        return null;
    }
    function change() {
        var currentcoin = coin.toLowerCase();
        if (currentcoin === "btc") return window.location.href = "/welcome"
        if (confirm('Are you sure you want to submit a request to change your wallet to a ' + currentcoin + ' cloud wallet?')) {
            // Save it!
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/operations/change-' + currentcoin);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onload = function () {
                console.log(xhr.response);

                if (xhr.response.includes("good")) {
                    showAlertModal("<i class='fas fa-check'></i> An email has been sent to the connected email address (check your spam folder)!", {waitTime: 3000}); 
                } else {
                    showAlertModal("<i class='fas fa-exclamation-circle'></i> "+xhr.response, {waitTime: 3000, backgroundColor: "red"}); 
                }
            }; 


            xhr.send(JSON.stringify({
                hello: "world"
            }));
        } else {
            // Do nothing!
            return window.location.href = "#";
        }
    } 
    function goToHomePage(){
        var websites = {
            BTC: "https://bitcoin.org/en/",
            ETH: "https://ethereum.org/",
            LTC: "https://litecoin.com/en/",
            XRP: "https://ripple.com/",
            DOGE: "https://dogecoin.com/",
            ETC: "https://ethereumclassic.org/"
        }
        window.open(websites[coin])
    }
</script>
<style>
    .fa-circle {
        font-size: 8px;
        top: -1px;
        position: relative;
        padding-right: 10px;
    }
    .extra-info {
        position: relative;
        top: 70px;
    }
    body {
        overflow-wrap: anywhere;
    }
    <% if (coin === "none"){%>
        .deposit-field {
            opacity: 0;
        }
    <% } %>
    .highlight-hidden {
        background-color: black;
        border-radius: 4px;
        cursor: pointer;
    }
    #qrcode {
        pointer-events: none;
        opacity: 0;
        transition: all ease-in-out 0.25s;
    }
    #qrcode img{
        width: 75px;
        height: 75px;
    }
    .fa-qrcode:hover #qrcode {
        pointer-events: all !important;
        opacity: 100%;
    }
    .alert-modal {
        position: fixed;
        top: -200px;
        transition: all cubic-bezier(0, 0.73, 0.58, 1) .75s;
        display: block;
        margin-left: 50%;
        margin-right: 50%;
        background-color: #96cc96;
        width: max-content;
        max-width: 200px;
        text-align: center;
        color: white;
        border-radius: 2px;
        padding: 10px 5px;
    }
    body{
        background-color: #F3F5F9;
    }
    .coin-name {
        font-size: 1.4em;
    }
    .deposit-field {
        padding: 10px 20px;
        width: 500px;
        margin: 10px auto; 
        top: 110px; 
        position: relative;
    }
    .content-container {
        padding-top: 20px;
    }
    .dropdown {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 25px;
    }
    @media (max-width: 1000px){
        .extra-info {
            width: 90vw !important;
            margin-left: 0;
        }
        .dropdown .selection {
            width: 90vw !important;
            margin-left: 0;
        }
        .deposit-field {
            width: 90vw !important;
            margin-left: 0;
        }
        .content-container {
            width: 95vw !important;
        }
        .content-container {
            height: calc(750px - 15%) !important;
            min-height: 80%;
        }
    }
    @media (max-width: 700px){
        .top-parts .u-nav-container ul {
            font-size: 4vw;
        }
    }
    body {
        overflow-x: hidden !important;
    }
</style>