<html style="min-height: 508.859px;">
<link data-react-helmet="true" rel="icon" href="/images/smallLogo.png">

<head>
    <script src="https://semantic-ui.com/javascript/library/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Deposit | Coin Tunnel</title>
    <link rel="stylesheet" href="/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/javascript/main.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Archivo+Black:400">

    <%- include('../partials/preload.ejs') %>
        <link rel="stylesheet" href="/common.css">
        <link rel="stylesheet" href="/style.css">
        <script class="u-script" type="text/javascript" src="/javascript/websocket.js" defer=""></script>

        <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"url": "index.html",
		"logo": "images/unknown-removebg-preview.png"
}</script>
        <meta property="og:title" content="Buyer Dashboad">
        <meta property="og:type" content="website">
        <meta name="theme-color" content="#478ac9">
        <link rel="canonical" href="index.html">
        <meta property="og:url" content="index.html">

    <link rel="stylesheet" type="text/css" class="ui" href="/assets-main.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/javascript/semantic/semantic.min.css">
    <script src="/javascript/semantic/semantic.min.js"></script>
    <script src="/javascript/deposit.js"></script>
</head>

<body>
    <%
        var allCoins = {
            ETH: "Ethereum",
            ETC: "Ethereum Classic",
            DOGE: "Dogecoin",
            BTC: "Bitcoin",
            XRP: "Ripple",
            LTC: "Litecoin",
        }
    %>
    <div class="top-parts" style="background-color: #1D2946;">
        <header class="u-clearfix u-header u-header" id="sec-a555" style="color: whitesmoke; font-weight: 525;">
            <div class="u-clearfix u-sheet u-sheet-1">
                <a href="/" class="u-image u-logo u-image-1">
                    <img src="/images/logo.png" class="u-logo-image u-logo-image-1" data-image-width="109">
                </a>
                <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                    <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                        <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="#">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                            </svg>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                        <rect y="1" width="16" height="2"></rect>
                                        <rect y="7" width="16" height="2"></rect>
                                        <rect y="13" width="16" height="2"></rect>
                                    </symbol>
                                </defs>
                            </svg>
                        </a>
                    </div>
                    <div class="u-custom-menu u-nav-container">
                        <ul class="u-nav u-unstyled u-nav-1">
                            <li class="u-nav-item"><a
                                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                    href="/" style="padding: 10px 20px;">Home</a>
                            </li>
                            <li class="u-nav-item"><a
                                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                    href="#" onclick="signout()" style="padding: 10px 20px;">Sign out</a>
                            </li>
                            <li class="u-nav-item"><a
                                    class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                    href="/dashboard-b" style="padding: 10px 20px;">Buyer Dashboard</a>
                            </li>
                            <li class="u-nav-item">
                                Dark theme
                            </li>
                            <label class="switch">
                                <input type="checkbox" onclick="changeTheme()" id="bigTheme">
                                <span class="slider round"></span>
                            </label>
                        </ul>
                    </div>
                    <div class="u-custom-menu u-nav-container-collapse">
                        <div
                            class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                            <div class="u-sidenav-overflow">
                                <div class="u-menu-close"></div>
                                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/"
                                            style="padding: 10px 20px;">Home</a>
                                    </li>
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#"
                                            onclick="signout()" style="padding: 10px 20px;">Sign out</a>
                                    </li>
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/dashboard-b"
                                            style="padding: 10px 20px;">Buyer Dashboard</a>
                                    </li>
                                    <li class="u-nav-item">
                                        Dark theme
                                    </li>
                                    <label class="switch">
                                        <input type="checkbox" onclick="changeTheme()" id="smallTheme">
                                        <span class="slider round"></span>
                                    </label>
                                </ul>
                            </div>
                        </div>
                        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                    </div>
                </nav>
            </div>
        </header>

        <header class="u-clearfix u-header u-header secondary-header"
            style="max-height: 50px; color: #b7b7b7; overflow: hidden;">
            <div class="u-clearfix u-sheet u-sheet-1" style="width: 100vw;">
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1 sub-menu">
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                href="/assets" style="padding: 10px 20px; color: inherit !important;">Asset Overview</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base on-page"
                                data-link="/assets/deposit" style="padding: 10px 20px; color: inherit !important;">Deposit</a>
                        </li>
                        <li class="u-nav-item"><a
                                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                                data-link="/assets/withdraw"
                                style="padding: 10px 20px; color: inherit !important;">Withdraw</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="content-container" style="width: 50vw; background-color: white; height: 60vh; display: block; margin-left: auto; margin-right: auto ;border-radius: 10px;  box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 20%)">
        <span style="text-align: center; display: block; font-size: 30px;">Deposit</span>
        <div class="dropdown" style="width: 500px;">
            <div class="ui fluid search selection dropdown">
                <input type="hidden" name="coin-selector">
                <i class="dropdown icon"></i>
                <input class="search" autocomplete="off" tabindex="0">
                <div class="default text" style="display: block;"><i class="fas fa-search"></i> <span style="float: right;">Select</span></div>
                <div class="menu" tabindex="-1">
                    <% Object.entries(allCoins).forEach(([key, value]) => { %>
                        <div class="item" id="<%-key%>-dropdown-item" onclick="window.location.href='/assets/deposit/<%-key%>'"><object data="/images/assetImages/<%-key%>.svg" type="image/png" style="width: 30px; height: 30px; float: left; display: inline-block; top: -6px; position: relative; margin-right: 10px;">
                            <img src="/images/assetImages/<%-key%>.png" style="width: 40px; height: 40px; float: left; margin-right: 4px;">
                          </object><span style="font-weight: 600;"><%-key%></span> <span style="font-family: 'monospace-font'; color: #878787; float: right;"><%-value%></span></div>
                    <% }) %>
                </div>
    
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>
</body>

</html>
<script>
    $('.dropdown').dropdown();
    "<%allCoins = JSON.stringify(allCoins);%> "
    var allCoins = '<%- allCoins %>';
    allCoins = JSON.parse(allCoins);
    let coin = '<%-coin%>';
    if (coin !== "none"){
        let html = document.getElementById(coin+"-dropdown-item").innerHTML;
        console.log(html)
        document.querySelectorAll(".selection.dropdown .text")[0].innerHTML = html
    }
    var currentCoin = "none";
    document.querySelector("[name='coin-selector']").addEventListener("change", function(){
        Object.entries(allCoins).forEach(([key, value]) => {
            key = key.toLowerCase();
            if (document.querySelector("[name='coin-selector']").value.toLowerCase().includes(key)){
                currentCoin = key.toUpperCase();
                return;
            }
        })
    })
    document.addEventListener("keydown", function(event){
        if (event.key === "Enter" && currentCoin !== "none"){
            window.location.href = "/assets/deposit/"+currentCoin;
        }
    })
    function updateTBposition(){
        if (checkVisible(document.querySelectorAll(".u-logo-image")[0]) === false){
            console.log("alkdfj")
            document.querySelectorAll(".secondary-header")[0].style = "max-height: 50px; color: #b7b7b7; overflow: hidden; background: #1D2946; position: fixed; z-index: 1; top: 0; padding-top: 10px;"
        }else{
            console.log("visible")
            document.querySelectorAll(".secondary-header")[0].style = "max-height: 50px; color: #b7b7b7; overflow: hidden;";
        }
    }
    var observer = new IntersectionObserver(function(entries) {
	if(entries[0].isIntersecting === true)
        document.querySelectorAll(".secondary-header")[0].style = "max-height: 50px; color: #b7b7b7; overflow: hidden;";
    else document.querySelectorAll(".secondary-header")[0].style = "max-height: 50px; color: #b7b7b7; overflow: hidden; background: #1D2946; position: fixed; z-index: 1; top: 0; padding-top: 10px;"
    }, { threshold: [0] });

    observer.observe(document.querySelector(".u-logo-image"));

</script>
<style>
    body{
        background-color: #F3F5F9;
    }
    .content-container {
        padding-top: 20px;
    }
    .dropdown {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 25px;
    }
    @media (max-width: 1000px){
        .dropdown .selection {
            width: 90vw !important;
            margin-left: 0;
        }
        .content-container {
            width: 95vw !important;
        }
    }
    @media (max-width: 700px){
        .top-parts .u-nav-container ul {
            font-size: 4vw;
        }
    }
    body {
        overflow-x: hidden !important;
    }
</style>